body{
    background-color: #3d181881;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box{
    width: 20%;
    height: 30%;
    background: rgba(0, 0, 0, 0.684);
    margin: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container .box p{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.container .box h1{
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;
}

.container .box a{
    font-size: 20px;
    color: #6f6f6f;
    margin-bottom: 10px;
    border: 1px solid #797979;
    padding: 10px 20px;
    border-radius: 20px;
}

.container .stopwatch a:hover{
    background: #25d366;
    color: #fffefe;
    transition: 0.5s;
}

.container .Timer a:hover{
    background:  #25d366;
    color: #fffefe;
    transition: 0.5s;
}

.container .box:hover h2{
    color: #000;
    transition: 0.5s;
}

.container .box:hover a{
    /* color: #000; */
    transition: 0.5s;
}
